@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: "Open Sans", "Arial";
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* a {
  color: blue;
  text-decoration: underline;
} */

h1 {
  margin-top: -0.5em;
  font-size: 55px;
  font-weight: 700;
}

h2 {
  font-size: 45px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

h5 {
  font-size: 16px;
  font-weight: 700;
}

p {
  font-size: 16px;
  font-weight: 400;
}

.webpage {
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2vw;
}

.homepage {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  padding: 2em;
  width: 10vw;
  height: 8em;
  z-index: 50;
}

.homepageHeader {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding-left: 10vw;
  padding-right: 10vw;
  height: 8em;
  overflow: hidden;
}

.navBarElement {
  padding: 0.5em;
  margin: 1em;
  font-size: 20px;
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.homepageNavigation {
  // margin-top: 1em;
  display: flex;
}

p,
ul,
ol {
  font-size: 18px;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;

  .section {
    color: black;
    margin-top: 4vh;
    margin-bottom: -16vh;
    margin-left: 6vw;
    margin-right: 6vw;
    font-family: "Fira Sans", "Times New Roman";
    padding: 2vw;
  }

  .sectionGrid {
    color: black;
    margin-top: 4vh;
    margin-bottom: 4vh;
    margin-left: 6vw;
    margin-right: 6vw;
    font-family: "Fira Sans", "Times New Roman";
    padding: 2vw;

    @media (max-width: 900px) {
      .gridOfProjects {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: auto;
      }
    }
    @media (min-width: 901px) {
      .gridOfProjects {
        display: grid;
        column-gap: 50px;
        row-gap: 50px;
        grid-template-columns: auto auto;
      }
    }
    .gridItem {
      width: 400px;
      height: 300px;
      border-style: solid;
      border-color: black;
      border-width: 2px;
    }
  }
}

.lineBreakBetweenSections {
  color: gray;
  opacity: 50%;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.prototype {
  object-fit: scale-down;
  height: 100%;
}

#smallLowFidelityPrototypeImageContainer {
  height: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#mediumLowFidelityPrototypeImageContainer {
  height: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#standardLowFidelityPrototypeImageContainer {
  height: 650px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#smallHighFidelityPrototypeImageContainer {
  height: 800px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

#mediumHighFidelityPrototypeContainer {
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#standardHighFidelityPrototypeImageContainer {
  height: 650px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.screenshotContainer {
  display: flex;
  justify-content: center;
}

.screenshotWrapper {
  width: fit-content;
  border-style: solid;
  border-width: 2px;
}

#designGuideContainer {
  height: 800px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

#designGuide {
  object-fit: scale-down;
  height: 100%;
}

.personaEmpathyMap {
  width: 80%;
  margin: 1vh;
}

.empathyMapWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.personaHeader {
  width: 60vw;
  font-size: 14pt;
}

.personaCaption {
  width: 100%;
}

.personaQuote {
  font-style: italic;
  font-size: 16pt;
  padding: 5px;
}
