#imageSelection {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
}

#centerImage {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

#caption {
  font-size: 12pt;
  /* max-width: 60vw; */
  margin: auto;
}
